/* navbar */
.navbar {
  background-color: black;
}

.navbar .navbar-nav .nav-link {
  color: white;
  justify-content: space-between;
  padding-right: 30px;
}

.navbar-toggler {
  border-color: white;
}

.navbar-brand img {
  height: 50px;
}

/* Home page */
.jumbotron {
  background-image: url("/static/images/alcoholpic1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  text-align: center;
  margin: 0 auto;
}

.jbdescription {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px;
}

#jumbotron-text {
  font-size: medium;
}

/* Create page */
.background2 {
  background-image: url("/static/images/alcoholpic2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.addliquor {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 50px;
}

.upload-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload {
  width: 100%;
}

#ingredients {
  height: 150px;
  vertical-align: text-top;
}

.preparation {
  height: 150px;
  vertical-align: text-top;
}

/* listing page */
.textbox {
  width: 200px;
  justify-content: center;
}

.card {
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  object-fit: cover;
}

.box {
  padding: 30px;
}

.card a:hover {
  text-decoration: none;
}

.card:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition-delay: 0.05s;
  z-index: 2;
  background-color: rgb(240, 223, 221);
}

.uploaded-image {
  width: 200px;
  height: 200px;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ecf010;
}

.dropbtn {
  background: rgb(42, 138, 247);
  padding: 5px 15px;
  border-radius: 15px;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

/* Liquor details page */
.liquor-image {
  height: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 30px;
  object-fit: contain;
  background-position: 50% 50%;
}

.image-container {
  height: 400px;
}

#liquor-details {
  padding: 30px;
}

#review-box {
  padding: 15px;
  border: solid;
  margin: 15px;
}

#review-edit-delete-btn {
  padding: 15px;
}

.reviews-list {
  padding-left: 80px;
  padding-right: 80px;
}

.l-details {
  margin: 8px;
}

/* Update liquor page */
.background3 {
  background-image: url("/static/images/alcoholpic4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

/* Create review page */
.background4 {
  background-image: url("/static/images/review1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

/* Edit reviews page */
.background5 {
  background-image: url("/static/images/review2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.background6 {
  background-color: beige;
}

#username {
  display: none;
}

#review-date {
  display: none;
}

.btn {
  margin: 2px;
}
