{%extends 'layout.template.html' %}

{%block content%}
<div class="background6">
<br>
<div class="container text-center">
    <h2>{{liquor.name}}</h2>
</div>
<br>

<div class="container-fluid row">

    <div class="col-lg-6 mx-auto image-container"> 
        <input type="hidden" id="uploaded_file_url" name="uploaded_file_url"/>
        <img src="{{liquor.uploaded_file_url}}" id="uploaded-image" class="liquor-image d-block" alt="liquor image">
    </div>

    <div class="col-lg-6" id="liquor-details">
        <div class="container">
            <B>Liquor type:</B> {{liquor.type}}
        </div>

        <div class="container">
            <B>Primary alcohol:</B> {{liquor.primary_alcohol}}
        </div>

        <div class="container">
            <B>Serving method:</B> {{liquor.serving_method}}
        </div>

        <div class="container">
            <B>Standard drinkware:</B> {{liquor.standard_drinkware}}
        </div>

        <div class="container">
            <B>Ingredients:</B> 
            <br>
            <textarea readonly rows="3" class="form-control">{{liquor.ingredients}}</textarea>
        </div>

        <div class="container">
            <B>Preparation:</B> 
            <br>
            <textarea readonly rows="3" class="form-control">{{liquor.preparation}}</textarea>
        </div>
    </div>
</div>

<br>

<div class="container text-center">
    <a href="{{url_for('update_liquor', id=liquor._id)}}" class="btn btn-primary btn-sm">Edit</a>
    <a href="{{url_for('show_liquor')}}" class="btn btn-warning btn-sm">Back</a>
    <a href="{{url_for('delete_liquor', id=liquor._id)}}" class="btn btn-danger btn-sm">Delete</a>
    <a href="{{url_for('create_reviews', id=liquor._id)}}" class="btn btn-success btn-sm">Add Reviews</a>
</div>

<br><br>

<div class="container-fluid text-center">
    <h2>Reviews</h2>
</div>

<div class="container-fluid row reviews-list">
    {%for r in liquor.reviews%}
    <br>
    <div class="col-lg-6">
        <div class="container-fluid row" id="review-box">
            <div class="container-fluid col-lg-10">
                {{r.username}}
                <br>  
                {{r.date}}
                <br>
                Review: {{r.review}}
            </div>
            <div class="container-fluid col-lg-2" id="review-edit-delete-btn">
                <a href="{{url_for('edit_reviews', review_id= r._id)}}"><i class="far fa-edit" style="font-size: x-large;"></i></a>
                <a href="{{url_for('confirm_delete_review', review_id=r._id)}}"><i class="far fa-trash-alt" style="font-size: x-large;"></i></a>
            </div>    
        </div>
    </div>
    {%endfor%}
</div>
<br>
</div>
{%endblock%}

{%block js %}
	<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

	<script type="text/javascript">
		var myWidget = cloudinary.createUploadWidget({
            cloudName: '{{cloud_name}}', 
            uploadPreset: '{{upload_preset}}'}, (error, result) => { 
                if (!error && result && result.event === "success") { 
                    console.log('Done! Here is the image info: ', result.info); 
                    let fileURL = document.querySelector('#uploaded_file_url');
                    fileURL.value = result.info.url;

                    document.querySelector('#uploaded-image').src = result.info.url
                }
            }
        )

        document.getElementById("upload_widget").addEventListener("click", function(){
                myWidget.open();
        }, false);
	</script>
{%endblock%}