{% extends "layout.template.html" %}

{%block content %}
<br>
<div class="container">
    <h3 class="text-center">List of Creations</h3>

    <div class="container text-center">
        <form class="container text-center" method="GET">
        
            <input type="text" placeholder="Enter search" name="search-liquor" class="textbox text-center"/>

            <input type="submit" value ="Search" class="textbox"/>

            <br><br>

            <label>Type:</label>
            <select class="" name="liquor-type">
                {%for type in liquor_type %}
                <option value="{{type._id}}">{{type.type}}</option>
                {%endfor%}
            </select>
            
        </form>  
    </div>

    <br>

    <div class="container">
        <div class="row">
            {%for i in all_liquor %}
            <div class="card col-sm-6 col-md-4">
                <a href="{{url_for('liquor_details', id=i._id)}}">
                <img src="{{i.uploaded_file_url}}" class="uploaded-image card-img-top" alt="alcohol image"/>
                <br><br>
                <h5 class="card-title">{{i.name}}</h5>
            </div>
            {%endfor%}
        </div>
    </div>
    <br>

</div>

{%endblock%}
