{% extends "layout.template.html" %}

{%block content %}
<br>
<div class="container text-center">
    <h3>List of Creations</h3>
    <br>

    <div class="container text-center">
        <form class="container text-center" method="GET">
            <input type="text" placeholder="Enter search" name="search-liquor" class="textbox text-center"/>
            <input type="submit" value ="Search" class="textbox"/>
            <br><br>
            <input type="submit" value ="Reset search" class="btn btn-primary btn-sm"/>
        </form>  
    </div>
    <br>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="dropdown col-lg-3">
            <button class="dropbtn">{{type}}</button>
            <div class="dropdown-content">
                <a href="?type=Beer cocktail">Beer cocktail</a>
                <a href="?type=Cocktail">Cocktail</a>
                <a href="?type=Highball">Highball</a>
                <a href="?type=Mixed drink">Mixed drink</a>
                <a href="?type=Tequila">Tequila</a>
            </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="dropdown col-lg-3">
            <button class="dropbtn">{{primary_alcohol}}</button>
            <div class="dropdown-content" name="primary-alcohol">
                <a href="?primary_alcohol=Beer">Beer</a>
                <a href="?primary_alcohol=Gin">Gin</a>
                <a href="?primary_alcohol=Prosecco">Prosecco</a>
                <a href="?primary_alcohol=Rum">Rum</a>
                <a href="?primary_alcohol=Tequila">Tequila</a>
                <a href="?primary_alcohol=Vodka">Vodka</a>
                <a href="?primary_alcohol=Whiskey">Whiskey</a>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <br>

    <div class="container">
        <div class="row">
            {%for i in all_liquor %}
            <div class="card col-sm-6 col-md-4">
                <a href="{{url_for('liquor_details', id=i._id)}}">
                <img src="{{i.uploaded_file_url}}" class="uploaded-image card-img-top" alt="alcohol image"/>
                <br><br>
                <h5 class="card-title">{{i.name}}</h5>
            </div>
            {%endfor%}
        </div>
    </div>
    <br>

</div>

{%endblock%}
